.filter_container {
  width: 95%;
  padding: 1vw 0;
  border: 2px solid #19467c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  animation: 1s ease-in;
}

.heading_icon_wrapper {
  width: 95%;
  display: flex;
  align-items: center;

}

.headings {
  margin: 20px 10px;
  margin-left: 0;
  text-align: left;
  color: #19467c;
  font-size: 25px;
  user-select: none;
}

.table_container {
  width: 95%;
  user-select: none;
}

.display_change {
  position: absolute;
  top: 11vh;
  right: 0;
  z-index: 2;
}

.display_change button {
  background-color: #19467c;
  color: white;
  margin: 5px;
  cursor: pointer;
  padding: 8px;
}

.display_change button:active {
  position: sticky;
  scale: 0.9;
}

.admin_container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.admin_button_container {
  justify-content: space-between;
  border: 2px solid #19467c;
  background-color: white;
  padding-left: 5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-right: 5vw;
}

.button_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.admin_icon_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.tooltip {
  user-select: none;
}

.tooltip:hover {
  cursor: pointer;
  padding-left: 15px;
  background-color: #19467c4a;
  border-radius: 10px 10px 0 0;
  user-select: none;
  font-size: 25px;
}