.filter_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.column_filters {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: self-end;
}

.column_filters span {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 5px 30px 10px 0;
}

.calendars_wrapper {
    display: flex;
    width: 40%;
    border-radius: 10px;
    transition: all 0.3s;
    align-items: center;
    justify-content: space-between;
    color: #19467c;
    font-weight: 600;
    font-size: 20px;
}

.calendars_field {
    width: 100%;
    display: flex;
    align-items: center;
}

.calendars_field span {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calendars_wrapper input {
    height: 45px;
    min-width: fit-content;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    color: gray;
    display: flex;
    justify-content: center;
}


.calendars_wrapper input:hover {
    border: 1px solid gray;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}