.filter_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}

.column_filters {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.column_filters span {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.calendars_wrapper {
    display: flex;
    width: 50%;
    border-radius: 10px;
    transition: all 0.3s;
    align-items: center;
    justify-content: space-between;
    color: #19467c;
    font-weight: 600;
    font-size: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
}

.calendars_field {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendars_field span {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters_button_field {
    width: 30%;
}

.calendars_wrapper input {
    height: 50px;
    width: 180px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    color: gray;
}

.calendars_wrapper input:hover {
    border: 1px solid gray;
}